.products {
    padding: 12.5rem 0 9.1rem;
}

.products>.products-title {
    margin: .1rem 0 3.2rem 0;
}

.products-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-type {
    display: flex;
    gap: 3rem;
}

.products-type>button {
    font-family: outfit;
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 6rem;
    color: #AFB4C4;
    background: none;
}

.products-type>button:focus {
    color: var(--h-color);
}

.products-w {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5rem;
}

.product-img {
    padding: 4.1rem 5.8rem 0rem 5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #F7F8FC;
    border-radius: 4px;
}
.product:first-child > .product-img{
    padding-top: 7rem;
}
.product:nth-child(2) > .product-img,
.product:nth-child(3) > .product-img,
.product:nth-child(5) > .product-img{
    padding-top: 8.4rem;
}
.product:nth-child(4) > .product-img{
    padding-top: 6.2rem;
}
.product:nth-child(6) > .product-img{
    padding-top: 5.9rem;
}
.product:nth-child(7) > .product-img,
.product:nth-child(8) > .product-img{
    padding-top: 7.5rem;
}
.product-img>span {
    font-family: outfit;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 0 .7rem;
}

.product-img>span:first-child {
    position: absolute;
    top: 1.3rem;
    left: 1.5rem;
    background: #31797E;
}

.product-img>span:nth-child(2) {
    position: absolute;
    top: 1.3rem;
    right: 1.5rem;
    background: #F04726;
}

.product-view {
    padding: 1.1rem 0 .1rem;
    display: flex;
    align-items: center;
    gap: .9rem;
}

.product-view>span {
    font-family: worksans;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #7F8698;
}

.product {
    width: 24%;
}

.product>h3 {
    font-family: worksans;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 6rem;
    color: var(--h-color);
}

.product-shirt-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product:nth-child(3)>.product-shirt-price {
    justify-content: flex-start;
    gap: 1.8rem;
}

.product-shirt-price>del {
    font-family: worksans;
    font-weight: 400;
    font-size: 2rem;
    line-height: 6rem;
    color: #969DAD;
}

.product>span {
    font-family: worksans;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 6rem;
    color: #297176;
}

.product-shirt-size {
    font-family: outfit;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #A2A5AD;
}

.product-shirt-size>span {
    border: 0.8px solid #A5A9B3;
    border-radius: .2rem;
    padding: .6rem;
}

.pro-circle {
    display: flex;
    gap: 1rem;
}

.pro-circle>div {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
}

.pro-circle>div:first-child {
    background-color: #2ED0E7;
}

.pro-circle>div:nth-child(2) {
    background-color: #C399AD;
}

.pro-circle>div:last-child {
    background-color: #040404;
}

.pro-circle-2 {
    display: flex;
    gap: 1rem;
}

.pro-circle-2>div {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
}

.pro-circle-2>div:first-child {
    background-color: #BA2828;
}

.pro-circle-2>div:nth-child(2) {
    background-color: #E2C048;
}

.pro-circle-2>div:last-child {
    background-color: #040404;
}

.product>del {
    font-family: worksans;
    font-weight: 400;
    font-size: 2rem;
    line-height: 6rem;
    color: #969DAD;
    margin-left: 2rem;
}
.product-shirt-price-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pro-circle-3 {
    display: flex;
    gap: 1rem;
}

.pro-circle-3>div {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
}

.pro-circle-3>div:first-child {
    background-color: #BA2828;
}

.pro-circle-3>div:nth-child(2) {
    background-color: #E5D4D1;
}

.pro-circle-3>div:last-child {
    background-color: #040404;
}
.product-img > p{
    position: absolute;
    top: 1.3rem;
    right: 1.5rem;
    background: #31797E;
    font-family: outfit;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 0 .7rem;
}